@font-face
{
    font-family: 'raleway';
    src:url('Projet2-Reservia/Police/Raleway-Black.ttf');
    src:url('Projet2-Reservia/Police/Raleway-BlackItalic.ttf');
    src:url('Projet2-Reservia/Police/Raleway-Bold.ttf');
    src:url('Projet2-Reservia/Police/Raleway-BoldItalic.ttf');
    src:url('Projet2-Reservia/Police/Raleway-ExtraLight.ttf');
    src:url('Projet2-Reservia/Police/Raleway-ExtraLightItalic.ttf');
    src:url('Projet2-Reservia/Police/Raleway-Italic.ttf');
    src:url('Projet2-Reservia/Police/Raleway-Light.ttf');
    src:url('Projet2-Reservia/Police/Raleway-LightItalic.ttf');
    src:url('Projet2-Reservia/Police/Raleway-Medium.ttf');
    src:url('Projet2-Reservia/Police/Raleway-MediumItalic.ttf');
    src:url('Projet2-Reservia/Police/Raleway-SemiBold.ttf');
    src:url('Projet2-Reservia/Police/Raleway-SemiBoldItalic.ttf');
    src:url('Projet2-Reservia/Police/Raleway-Thin.ttf');
    src:url('Projet2-Reservia/Police/Raleway-ThinItalic.ttf');
    src:url('Projet2-Reservia/Police/Raleway-Regular.ttf');

    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: "raleway";
    margin-top: 20px;
    overflow: visible;
}

.Container{
    margin-left: 30px;
    margin-right: 30px;
}

/*-----Header logo + menu navigation-----*/

header {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

header img{
        padding-bottom: 10px;
        width: 130px;
}

.menu{
    display: flex;  
    margin-right: 30px;
}

header ul {
    display: flex;
    list-style: none;
    align-items: flex-end;
}

header li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    margin-right: 20px;   
}

header li a:hover {
    border-top: 4px solid #0065FC;
    padding-top: 40px;
    color: #0065FC;
    transition: all 1s ease;   
}
    
.register{
    font-size: 18px;
    color: #0065FC;
    font-weight: bold;
    padding-top: 17px;
    margin-left: 55px;
}



/*-----Header barre de recherche-----*/

.form{
    margin-top: 10px;
    display: flex;
    border-collapse: collapse;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    width: 435px;
}


.form i{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    align-items: center;
}

.form input{
    width: 270px;
    height: 48px; 
    border: 2px solid #f2f2f2;
    border-collapse: collapse;
    border-right: none;
    font-size: 18px;
    font-family: "raleway";
    font-weight: bold;    
}

.form button{
    height: 48px;
    width: 117px;
    border-collapse: collapse;   
    background-color:#0065FC;
    border-style: hidden;
    color: white;
    font-size: 18px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.logo_search i{
    display: none;
}

.filter{
    margin-top: 30px;
    display: flex;
    align-items: center;
   
}

.filter h2{   
    margin-right: 20px;
    padding-top: 25px;
}

.filter h3{
    margin: 0px;
    width: 200px;
    height: 48px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter .filterselect{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 40px;   
}

.filterselect{
    cursor: pointer;   
}
   
.option{
    height: 46px;
    margin: 10px 20px 10px 5px;
    padding-right: 0px;
    border: 2px solid #f2f2f2;
    margin-left: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.option i{
    color: #0065FC;
    display: flex;
    justify-content: center;
    width: 49px;
    height: 49px;
    margin-right: 0px;
    border-radius: 100%;
    align-items: center;
    border: 2px solid #f2f2f2;
    background-color:#DEEBFF;
    border-style: hidden;
    position: relative;
}

.option:hover{
    background-color:#0065FC;
    color: white;
    transition: all 1s;
}

#Info{
    font-size: 18px;
    margin-top: 20px;
}

#Info i{
    font-size: 25px;
    color: white;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    background-color:#0065FC ;
}

#Info span{ 
    margin-left: 10px;  
}

#search{
    padding-left: 15px;
}


/*-----Resultat de recherche-----*/



#searchresult{
    background-color: #F2F2F2;
    border-radius: 25px;
    height: auto;
    width: 60%;
    margin-top: 40px;  
    margin-left: 30px;
}

#searchresult h2{
    padding-top: 40px;
    margin-left: 40px;
    margin-top: 0px;
}

#result{
    margin: 0px 10px
    
}

.annonce img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;    
}

.annonce{  
    display: inline-block;
    margin : 10px 0px 20px 40px;
    width: 28%;
    height: auto;
    border-style: solid;
    background-color: white;
    border-color: rgb(250, 250, 250);
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px rgb(201, 201, 201); 
    cursor: pointer;   
}

.annonce:hover{
    transform:scale(1.05);
    transition: all 1s ease;
}

.description{
    padding-left: 15px;
}

.description h3{
    margin-top: 3px;
    margin-bottom: 5px;
}

.description p{
    margin-top: 0px;
    margin-bottom: 5px;
}

.description .EtoileBleu{
    color: #0065FC;    
}

.description .EtoileGrise{
    color: #dfdfdf;   
}

#more a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding-left: 40px;
}
#more p{
    margin-bottom: 43px;
}

#searchresult, #topselect{
    display: inline-block;
}


/*-----aside pop-----*/


#topselect{   
    width: 34%;
    margin-right:0px;
    margin-left: 40px;
    padding-bottom: 25px;
    color: black;
    background-color:#F2F2F2;
    border-radius: 25px;
}

#topselect h2{
    width: max-content;
    padding: 33px 0px;
    margin: 0px 0px 0px 30px;
}

#topselect h2, #courbe{
    display: inline-block;
}

#Courbe{   
    width: 46px;
    height: 46px;
    float: right;
    padding-right: 60px;
    padding-top: 35px;
    font-size: 25px;  
}

#topselect .annonce2{   
    display: flex;
    width: 85%;
    margin:20px 0px 20px 40px;
    border-style: solid;
    background-color: white;
    border-color: rgb(250, 250, 250);
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px rgb(201, 201, 201);
    cursor: pointer;  
}

#topselect .annonce2:hover{
    transform:scale(1.05);
    transition: all 1s ease;
    transition: all 1s ease-out;
}

#topselect .annonce2 img{
    width: 40%;
    height: 180px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
}
#topselect .description{
    width: 50%;
}
#topselect .description h3{
    padding: 15px 0px;
}

.note2{
    padding-top: 30px;
}



/*----- Activité à Marseille -----*/


#Activities{

    margin: 40px 0px 0px 0px;
}

.result{
    display: flex;
    flex-wrap: wrap; 
    cursor: pointer;       
}

#Activities h2{
    margin-left: 30px;
    color: black; 
}

.TopActivities h3{
    padding-left: 20px;
}

.activities1{
    width: 25%;
    height: 580px;  
    margin: 0px 40px 0px 10px;   
}

.activities1 img{
    width: 100%;
    height: 510px;
}

#column2{
    width: 21%;
}

.activities2{
    width: 100%;
    height: 300px;
    margin: 0px 0px 50px 0px; 
}

.activities2 img{ 
    width: 100%;
    height: 230px;
}

.activities3{
    width: 100%;
    height: 230px;
    margin: 0px; 
}

.activities3 img{
    width: 100%;
    height: 160px;
}

.activities4{
    width: 25%;
    height: 580px;
    margin: 0px 40px;   
}

.activities4 img{ 
    width: 100%;
    height: 510px;
}

#column4{
    width: 21%;
}

.activities5{
    width: 100%;
    height: 280px;
    margin: 0px 0px 50px 0px;
  
}

.activities5 img{ 
    width: 100%;
    height: 210px;
}

.activities6{
    width: 100%;
    height: 250px;
    margin: 0px;
    
}

.activities6 img{  
    width: 100%;
    height: 180px;
}

.activities1 img, .activities2 img, .activities3 img,
.activities4 img, .activities5 img, .activities6 img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.activities1, .activities2, .activities3,
.activities4, .activities5, .activities6{
    background-color: white;
    border-color: rgb(250, 250, 250);
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px rgb(201, 201, 201); 
}

.activities1:hover, .activities2:hover, .activities3:hover,
.activities4:hover, .activities5:hover, .activities6:hover {
    transform:scale(1.05);
    transition: 1s ease-in;
    transition: 1s ease-out;   
}


/*-----footer comprenant 3 listes-----*/

footer {
    display: flex;
    width: 100%;
    background: #f2f2f2;
    margin-top: 40px;
}

footer h4{
    margin-left: 30px;
}

footer li {
    padding-top: 10px;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer ul{
   
}

.about{
    width: 33%;
}

.conditions{
    width: 33%;
}

.assistance{
    width: 33%;
}

