#bloc_page
{
    
    margin: auto;
    
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
#logo_reservia
{
    display: flex;
    height: 60px;
    width: 130px;
    
}
nav
{
    display: flex;
    justify-content: flex-end;
    height: 60px;
    width: 300px;
    
    
}
nav ul
{
    display: flex;
    list-style-type: none;
}
nav li
{
   display: flex;
   width: 120px;
   height: 100px;
   
}
nav a:hover
{
   color: blue;
}

#localisation h1
{
    margin-bottom: 3px;
    font-size: 17px;
}

#localisation p
{
    margin-top: 3px;
    font-size: 15px;
}

  


